/* CSS */
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("midia/back.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*
.top-nav-collapse {
    background-color: #d2110a;
  }
  @media (max-width: 990px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #d2110a;
    }
  }
  @media (min-width: 800px) and (max-width: 990px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #d2110a;
    }
  }
*/


/* TAG */
body{
	background-color: #FFF;
}
footer{
	width: 100%;
	background-color: #FFF;
}
h1{
	font-family: "Bree Serif",sans-serif !important;
	text-align: center;
	color: #d2110a;
}
p{
	font-family: "Bree Serif",sans-serif !important;
	text-align: center;
}
h3{
	font-family: "Bree Serif",sans-serif !important;
	text-align: center;
	color: #d2110a;
}
label{
	font-family: "Bree Serif",sans-serif !important;
	text-align: center;
	color: #d2110a;
	font-size: 35px;
}


/* ID */
#img_rodape{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#txt_fale_conosco{
	font-weight: 800;
}
#titulo_historia{
	
	color: #d2110a;
	font-size: 30px;
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-weight: 800;
		
}


/* CLASS */
.txt_rodape p{
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	color: #212529;
	text-align: center;
}

.nav-item a{
	font-family: "Bree Serif",sans-serif;	
	font-size: 19px;
}
.cor_menu{
	background-color: rgba(210, 17, 10, 0.9);
	transition: 1.5s;
}

.titulo_nav{
	font-family: 'Berkshire Swash', cursive;
	color: #FFF !important;
	font-size: 22px;
}
.opcoes_nav{
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	
}
.navbar-nav li a{
	color: #FFF !important;
}
.navbar-nav li a:hover{
	/*color: #15544c !important;*/
	animation:opac 0.5s;
	/*transition: 0.8s;*/
}

@keyframes opac{from{opacity:0} to{opacity:1}}

.bg-branco{
	background-color: #FFF;
}

.icones-redes-sociais{
	font-size: 50px;

}
.icones-redes-sociais a{
	outline: none;
}

.txt_capa_1{
	font-size: 35px;
	color: #FFF;
	font-family: 'Bree Serif', serif;
	text-align: center;

}

.txt_capa_2{
	font-size: 18px;
	color: #FFF;
	font-family: 'Bree Serif', serif;
	text-align: center;

}
.sombra{
	text-shadow: black 0.1em 0.1em 0.2em;
}
.btn-outline-danger{
	background-color: #FFF;
	color: #d2110a;
}
.btn-outline-danger:hover{
	color: #fff;
	background-color: #d2110a;
}

.secao_local{
	background-color: #FFF;
	width: 100%;

}
.secao_local label{
	font-weight: 800;
}
.sobre{
	background-color: #FFF;
	width: 100%;
}
.sobre label{
	font-weight: 800;
}

.sobre p{
	color: #212529;
	font-size: 20px ;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
.imagens{
	width: 210px;
	height: 200px;
	border-radius: 50% !important;
	text-align: center;	
}
.localizacao h5{
	color: #d2110a;
	font-size: 30px;
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-weight: 800;
}
.localizacao p{
	color: #212529;
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	text-align: center;
}
.fale-conosco h5{
	color: #d2110a;
	font-size: 30px;
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-weight: 800;
} 
.fale-conosco p{
	color: #212529;
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	text-align: center;	
}
.fale-conosco .telefones{
	text-decoration: none;
}
.telefones a:hover{
	color: #d2110a;
}
.fale-conosco .btn-atendimento{
	width: 100% !important;
}

.btn-outline-danger{
	width: 200px !important;
	font-family: 'Bree Serif', serif !important;
}
.btn_saiba_mais{
	width: 100% !important;
}

}
.btn_enviar{
	width: 100% !important;
}
.color_back_nav{
	background-color: #bc2b26;
}
.conteudo_form{
	background-color: #FFF;
	width: 100%;
}
.modal-body{
	font-size: 16px;

}
.centralizador_topo{
	position: absolute !important;
	top: 0 !important;
	left: 0 !important; 
}
.texto_botao{
	font-family: 'Bree Serif', serif;
}
.promocao h5{
	color: #d2110a;
	font-weight: 800;
	font-size: 30px;
	font-family: 'Bree Serif', serif;

}
.promocao p{
	font-size: 20px;
	text-align: justify;
	font-family: 'Bree Serif', serif;
}

/* GALERIA DE PRODUTOS */
.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: black;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7; 
  }
}
.scroll_animado{
	opacity: 0;
	/* ELEMENTO VEM DA ESQUERDA COM O TRANSLATE 3D */
	transform: translate3d(-200px, 0, 0);
	transition: 1s;
}
.scroll_animado_start{
	opacity: 1;
	transform: translate3d(0, 0, 0);

}
/* COR ÍCONE DO MENU */
.icone_branco{
	color: #FFF;
}
/* TIRAR ESTILO DO ICONE DO MENU */
.navbar-toggler{
	outline: none !important;
	border-color: #FFF !important;
}
/* ÍCONES DO MENU */
.navbar-toggler[aria-expanded="true"] .xis{
	display: table;
}
.navbar-toggler[aria-expanded="false"] .xis{
	display: none;
}
.navbar-toggler[aria-expanded="true"] .barra{
	display: none;
}
.navbar-toggler[aria-expanded="false"] .barra{
	display: table;
}
/* ICONE PARA VOLTAR AO TOPO */
.icone_voltar_topo{
	color: #d2110a;

}
.fa-angle-double-up{
	font-size: 50px !important;
	
}
.black{
	color: #212529;	
}
/* PÁGINA DE PRODUTOS */
.produtos{
	margin-top: 100px;
}
/* PÁGINA DE PRODUTOS */





















